html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f6f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* navbar */

.navbar-container {
  background-color: #283E4A;
  padding-left: 11%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

}

.navbar-container .linkedin-icon {
  font-size: 50px;
}

.navbar-container .navbar-nav {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: center;
}

.navbar-container a {
  color: white !important;
  font-size: 14px;
}

.nav-link .nav-icon {
  font-size: 20px;
}

@media (min-width: 992px) {
  .nav-icon-center {
    text-align: center;

  }

  .navbar-container .nav-form {
    width: 300px;
  }

  .navbar-container a {
    margin-left: 2px;
    margin-right: 2px;
  }

  .navbar-container .nav-divider-right {
    border-left: 1px solid white !important;
    margin: auto 3px;
  }
}

.img-rounded {
  border-radius: 50%;
  object-fit: cover;
}

/* profile left container */
.profile-left-container .alrt-container {
  border: 1px dashed lightgray;
  color: black;
}

.profile-left-container .alrt-container .alert-text {
  font-size: 14px;

}

.profile-custom-btn {
  background-color: #1E6097;
  color: white;
  float: right;
}

/* profile right container  */

.profile-video-container {
  display: flex;
  flex-direction: row;
}

.profile-video-container .video-content {
  width: 45%;
}

.profile-video-container .video-txt {
  width: 55%;
}

/* feed */
.feed-container {
  width: 100%;
  height: 100%;
}

.left-feed-container,
.middle-feed-container,
.right-feed-container {
  margin-top: 20px;
}

/* feed left side bar  */
.list-group-item {
  border: 0 !important;
}

.feed-list-group {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  font-size: 13px;

}

/* feed middle post  */

.feed-middle-post-container .post-footer-icons {
  display: flex;
  flex-direction: row;
}

/* suggestion */
.suggestion-container {
  position: relative;
}

.suggestion-container .suggestion-content {
  position: absolute;
  left: 62px;
  top: 10px;
  font-size: 12px;
  width: 30%;

}